<div class="message-container">

  <mat-tab-group class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Search">
      <app-task-search></app-task-search>
    </mat-tab>
    <mat-tab label="Show all">
      <mat-list>
        <mat-list-item style="cursor: pointer;" *ngFor="let task of tasks">
          <p matTooltip="Opens task number {{ task.id }}" routerLink="/task/{{ task.id }}">
            <small>{{ task.id }}.</small> {{ task.content }}
          </p>
          <button style="margin-left: 20px;" matTooltip="Delete" mat-mini-fab color="warn" (click)="delete(task)">X</button>
        </mat-list-item>
      </mat-list>
      <mat-form-field class="example-full-width" style="padding-top: 50px;">
        <input #taskName matInput placeholder="Task name">
      </mat-form-field>
      <button mat-raised-button color="primary" style="position: relative;bottom: 4px; left: 10px;" (click)="add(taskName.value); taskName.value=''">Add
        new task</button>
    </mat-tab>
  </mat-tab-group>
</div>